# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
tracker/node_modules
tracker/.pnp
tracker/.pnp.js

# testing
tracker/coverage

# production
tracker/build

# misc
tracker/.DS_Store
tracker/.env.local
tracker/.env.development.local
tracker/.env.test.local
tracker/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/node_modules
backend/.env